In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('Movie Reviews - Sheet1.csv', index_col='Name')

In [17]:
df.head()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Aarti Jaiswal,4.0,NaN,NaN,NaN,4.0,3.0,NaN,5.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
Aditya Dharmasagar,5.0,NaN,NaN,4.0,5.0,4.0,4.0,NaN,4.0,5.0,5.0,5.0,4.0,4.0,NaN,5.0
Adrian Cavallaris,NaN,4.0,3.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
Ahmed Muheebuddin,5.0,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aishwarya reddy,NaN,3.0,4.0,3.0,4.0,4.0,3.0,NaN,4.0,4.0,3.0,5.0,NaN,4.0,NaN,3.0

In [18]:
df.columns

Index([u'American Sniper', u'The Hunger Games: Mockingjay - Part 1',
       u'Guardians of the Galaxy', u'The Lego Movie', u'The Hobbit',
       u'Transformers', u'Malificent', u'Big Hero 6', u'Godzilla',
       u'Interstellar', u'How to Train your Dragon 2', u'Gone Girl',
       u'Divergent', u'The Fault in Our Stars', u'Unbroken',
       u'300: Rise of an Empire'],
      dtype='object')

In [19]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [20]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

### Question 1:  What movie is most Similar to 'The fault in our stars' (60 pts)

In [21]:
similarmovie= get_recs('The Fault in Our Stars', df, 1)

In [22]:
similarmovie

[('Interstellar', 0.2178645563053444)]

Interstellar movie is most similar to The fault in our stars movie

### Question 2:  Which movie(s) would you most like to see, based on your classmates experience? (40 pts)

In [31]:
#The movies i have seen
ratings = df.ix['Rohit Ukirde'].dropna()
#my movie ratings
ratings.sort(ascending=False)
myfav_movie = ratings.index[0]

C:\Users\Rohit\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting

In [32]:
#my fav rated movie 
myfav_movie

'The Fault in Our Stars'

In [33]:
#Top 7 movies recommended based on my classmates experiences 
recommendedMovies= get_recs(myfav_movie, df, 7)
recommendedMovies

[('Interstellar', 0.2178645563053444),
 ('Malificent', 0.19789929184067265),
 ('Divergent', 0.18271984148742279),
 ('Unbroken', 0.17273639371993235),
 ('Gone Girl', 0.12917557893423595),
 ('Guardians of the Galaxy', 0.10623790358033861),
 ('How to Train your Dragon 2', 0.094321109306395534)]